
.node {
   
    width: 20px;
    height:20px;
    outline: 1px solid;
    display:-ms-inline-grid;
    display:legacy;
    animation-name: myNode;
    animation-duration: 8s;
    animation-iteration-count: infinite;
   
  }

  @keyframes myNode {
    0%{outline-color:rgb(72, 137, 202)}
    25%{outline-color:rgb(79, 116, 202)}
    50%{outline-color: rgb(43, 114, 135);}
    75%{outline-color: rgb(96, 81, 210);}
    100%{outline-color: rgb(72, 137, 202)}
  }
  .node:hover{
    cursor: default;
  }

  .Obstacle{
    background-color: transparent;
    background-image: url('./icons/obstacle.png');
    background-position: center;
    background-size:190%;
    height: 20px;
    width: 20px;

    outline: 1.5px solid transparent;
    display:-ms-inline-grid;
    display:legacy;
    border-radius:5px;
    animation-name:myObstacle;
    animation-duration: 0.5s;
  }

  .nodePath{
    width:20px;
    height: 20px;
    background-size:94%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./icons/shortestPath.png');
    border-radius:40%;
    background-color: rgb(255, 255, 255);
    animation-name: myPath;
    animation-duration: 1.5s;
  }

  .nodeVisited{
    background-color: rgb(155, 90, 219);
    outline: 2px solid rgb(53, 53, 53);
    border-radius: 10%;
    width: 20px;
    height: 20px;
    animation-name: myVisited;
    animation-duration: 1.5s;
  }

  .nodeFinish {
    background-image: url('./icons/end.png');
    background-size:90%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15%;
    text-align: center;
    font-size: smaller;
    cursor: pointer;
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
animation-name:myFinish;
animation-duration: 5s;
animation-iteration-count: infinite;
  }

  
  .nodeStart {
    background: rgb(67, 255, 67);
    text-align: center;
    font-size: smaller;
    cursor: pointer;
    background-image:url('./icons/start.png');
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
    
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
border-radius: 15%;
    animation-name:myStart;
    animation-duration: 0.5s;
  }
 
  

  body{
    background-image: url('galaxy.jpg');
    background-size:120%;
    background-repeat: no-repeat;
    background-position-y: center;
    margin:0;
    max-zoom:1.0;
    text-align: center;
    user-zoom: no;
    scale: 1.0;
    height:100%;
    overflow: hidden;
    align-items:center;
}

div{
    margin:0 0 0;
    padding: 0%;
    
    
}

.mygrid {
    margin: 50px 0 0;
    height: 100%;
    width: 100%;
  }

  #container{ 
    height:90%;
    width:98%;
    
    margin-left: 1.5% ;
    
  
  }


  .navBar{
    width: 100%;
    cursor: pointer;
    padding-bottom: 5%;
    
  }


.navOption{ margin: 0%;
  font-size: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  text-size-adjust:auto;
  overflow:visible;
  color:aliceblue;
  width:20%;
  height:4%;
  float:left;
  background-color: black;
  display:block;
}

.navOption:hover{
  background-color: rgb(70, 53, 53);
}

#dropdown{
    position: relative;
    display: block;
    cursor: pointer;
}

#vsStart{
 background-image: url("./icons/naviStart.png");
 background-size: 30%;
 background-position: center;
background-repeat: no-repeat;
 

}

#algorithm{
  display:none;
  position:absolute;
  width:100%;
  
  min-width: 100px;
  background-color: aliceblue;
  color:black;
  z-index: auto;
  opacity: 0.75;
  margin-top:5%;
  
  text-align: center;
  
}

#dropdown:hover #algorithm{
  display:block;
  cursor: pointer;
}

.dropdownBorder{
  padding:2%;
  border: 2px solid black;
}
.dropdownBorder:hover{
  background-color: rgb(0, 255, 247);

}

#title{
  font-size:x-large; 
  font-weight: bolder; 
  background-color:white; 
  padding: 0.5%;
}




@media screen and (min-width:720px) and (max-width: 980px){
  .navOption{
    font-size:16px;
  }
  body{
    background-size:240%;
    background-repeat: no-repeat;
    background-position-y: center;
  }
}
@media screen and (min-width:530px) and (max-width: 720px){
  .navOption{
    font-size:12px;
  }
  body{
    background-size:240%;
    background-repeat: no-repeat;
    background-position-y: center;
  }
}
@media screen and (min-width:360px) and (max-width:530px){
  .navOption{
    font-size:10px;
    height:20px;
    padding-top:6px;
    padding-bottom: 7px;
  }
  #title{
    font-size:20px;
  }
  body{
    background-size:300%;
    background-repeat: no-repeat;
    background-position-y: center;
  }
}
@media only screen and (max-width:360px){
  .navOption{
    font-size:8px;
    height:22px;
  }
  #title{
    font-size:14px;
  }
  body{
    background-size:350%;
    background-repeat: no-repeat;
    background-position-y: center;
  }
}




@keyframes myStart {
  0%{
    background-size: 70%;
    background-color: rgb(179, 255, 2);
    border-radius: 70%;
  }
  
}

@keyframes myFinish {
  0%{background-color:rgb(255, 38, 0)}
  50%{background-color:rgb(255, 103, 179)}
  100%{background-color:rgb(255, 38, 0)}
}

@keyframes myObstacle {
0%{
  background-size: 70%;
}


}

@keyframes myVisited {
 
  0% {  
        outline-color: rgb(158, 25, 215);
        background-color: rgb(252, 239, 0);
        border-radius: 80%;
        outline-style:dashed;
        
      }
  30%{
    outline-color: rgb(162, 44, 222);
    background-color: rgb(224, 72, 17);
  }
  60%{
        outline-color:rgb(33, 25, 24);
        background-color: rgb(245, 12, 51);
  }
 
 
}

@keyframes myPath {
  0%{
    border-radius:100%;
    background-size: 60%;
    background-color: rgb(247, 6, 150);
  }
  50%{
    border-radius:70%;
    background-size: 80%;
  }
  
}



#popup{
  
  position:fixed;
  height:20%;
  width:40%;
  margin-top:10%;
  margin-left:25%;
  visibility: hidden;
  border:2px groove white;
  opacity: 0.8;
  background-image: linear-gradient(to bottom , rgb(224, 248, 242), rgb(57, 164, 214) 50%, rgb(51, 41, 198));
  background-size: 100%;
  background-position: 50% 100%;
}
#popDes{
  cursor:pointer;
  text-decoration: underline;
  height:80%;
}